
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    top: 0;
    position: relative;
    height:150vh
    
}
.header {
    height: 120px;
    width: 100vw;
    background-color: black;
    position: absolute;
    
}
.header h1 {
    color: white;
    text-align: center;
    padding: 20px;
}
.navbar {
    position: absolute;
    top: 120px;
    background-color: green;
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
li {
    display: inline-block;
    padding: 10px;
    font-size:1.5em;
    color:black;
    margin-right: 10vw;
}
#site-search {
    height: 5vh;
    width: 30vw;
    font-size: 0.8em;
    
}
#search-btn {
    height: 5vh;
    width: 15vw;
    border-radius: 10px;
    font-size: 0.8em;
    background-color: black;
    color: white;
}
#search-btn:hover {
    background-color: grey;
    color:black;
}
.footer {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    top: auto;
    background-color: black;
    height: 70px;
    width: 100vw;
}
.footer p{
    color: white;
    font-size: 1.2em;
    margin-left: 10vw;
}
 
.grid-container {
    position: relative;
    top:180px;
    height: auto;
    width: 73vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color:white;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 0;
    
}
.grid-container li {
    margin-right: 0;
}
.watches {
    height: 300px;
    width: 20vw;
    background-color: aqua;
    
}

.elem {
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
}
/* .elem :last-child {
    display: none;
} */

.container {
  
   top: 180px;
   display: flex;
   justify-content: space-around;
   width: 100vw;
   height: 70vh; 
}
#cartSection {
    background-color: lightpink;
    position: relative;
    top: 225px;
    border: 1px solid black;
    width: 22vw;
    margin-right: 1vw;
    border: 1px solid lightgray;
    padding: 10px 30px;
}

#cartTitle {
    text-align: center;
    
}
#currentBalance {
    text-align: right;
    margin-right: 5px;
    
    
}
#theadTr {
    font-weight: bold;
  }
  
  .tr th,
  .tr td {
    padding: 10px 15px;
    border-top: solid 1px gray;
    width: 20vw;
  }