html, body {
    margin: 0; 
    
}
.container {
    margin: 0;
    left: 0;
}
.page-header {
    background-color:white;
    width:100vw;
    height: 13vh;
    padding: 20px;
    text-align: center;
    color: #3ab4e0;
   
}

.nav {
background-color:#3ab4e0;
width:100vw;
height: 8vh;
padding: 15px;
display: flex;
justify-content: space-around;
}
li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: white;
}
li a:hover {
    text-decoration: none;
    font-size: 1.7em;
    color:white;
}
.dropdown-menu {
    background-color:white;
    height: 15vh;
    width: 10vw;
    text-align: left;
    padding: 15px;
}
.dropdown-menu li a {
    text-decoration: none;
    color:#3ab4e0;
}
.dropdown-menu li a:hover {
    text-decoration: none;
    color: lightgrey;
}
.slider-background img{
    position: absolute;
    width: 47.5vw;
    height: 65vh;
}
.carusel-container {
    padding-top: 2vh;
    padding-bottom: 2vh;
}
#slider {
    overflow : hidden;
     width: 50vw;
     position: fixed;
     right: 0;  
}

#slider figure {
    position: relative;
    width: 500%;
    animation: 20s slider infinite;
}
#slider figure img {
    width: 20%;
    height: 65vh;
    float: left;
    
}
@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }

}
.footer {
    position: absolute;
    top: 90vh;
    height: 10vh;
    width: 100vw;
    background-color: #3ab4e0;
}
.footer p {
    color: white;
    font-size: 1.3em;
    margin-left: 5vw;
    padding: 10px;
}